<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Document</title>
</head>
<body onload=hideLoader()>
    <div class="components__loader__bg"><div class="components__loader" id="componentsLoader"></div></div>
    <div class="wrapper">
        <div class="navbar__components">
            <h2 class="navbar__components__header" onclick="changeScreen(this)" id="index.html">Alex`s World</h2>
            <div class="menu__navbar">
                <a class="menu__navbar__link" onclick="changeScreen(this)" id="index.html">Homepage</a>
            </div>
        </div>
    </div>
</body>
<script src="../scripts/aboutme.js"></script>
</html>